# Python
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/
env/

# Raw data
data/raw/*
!data/raw/.gitignore

# Processed data
data/processed/*
!data/processed/.gitignore

# Feature data
data/feature/*
!data/feature/.gitignore

# Models
model/*
!model/.gitignore

# mlflow
mlruns/
_pycache_/
catboost_info/
*.pyc
mlflow.db
mlartifacts/